@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('/assets/webfont/general-sans.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "GeneralSans-Variable", sans-serif;
}

@layer utilities {
    /* Notification Hover */
    .header__dropmenu:hover .dropdown-card {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    .dropdown-card.dropdown-card__alarm {
        text-align: left;
        left: initial;
        right: -85px;
        min-width: 450px;
    }
    .dropdown-card::before {
        right: 75px;
        left: initial;
    }
    .dropdown-card__alarm .dropdown-card-info {
        align-items: flex-start;
    }

    .alarm__text {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        margin-top: 5px;
        line-height: initial;
    }
    .notifications {
        padding: 30px;
        border-radius: 8px;
    }

    .chatbox__list.chatbox__list__header .chatbox__inner {
        padding: 0;
        margin: 0;
        border-bottom: 0;
    }
    .chatbox__list.chatbox__list__header li {
        background: none;
    }
    .chatbox__list.chatbox__list__header li .chatbox__author-desc {
        line-height: initial;
        padding: 0;
    }

    .chatbox__list.chatbox__list__header .chatbox__time {
        line-height: 24px;
    }
}
