@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("/assets/webfont/general-sans.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "GeneralSans-Variable", sans-serif;
}

@layer utilities {
    .dropdownmenu li {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }
    .dropdownmenu a {
        display: block;
        text-align: center;
        text-decoration: none;
        transition: all 0.25s ease;
    }

    .dropdownmenu li:hover a {
    }

    #submenu {
        /* border: 1px solid #e9ecee; */
        background-color: #fff;
        border-radius: 4px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 42px;
        visibility: hidden;
        z-index: 9999;
    }
    li:hover ul#submenu {
        opacity: 1;
        top: 42px;
        visibility: visible;
    }

    #submenu li {
        padding: 10px 20px;
    }
    #submenu li:hover{
        background-color: #f8f8f8;
    }
    #submenu a:hover {

    }
}
