/* @import url("/assets/webfont/css/general-sans.css"); */

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "GeneralSans-Variable", sans-serif;
    }

    :root{
        --primary-color: #00ccff;
    }
    .dropdownmenu li {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }
    .dropdownmenu a {
        display: block;
        text-align: center;
        text-decoration: none;
        transition: all 0.25s ease;
    }

    #submenu {
        /* border: 1px solid #e9ecee; */
        background-color: #fff;
        border-radius: 4px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 42px;
        visibility: hidden;
        z-index: 9999;
    }
    li:hover ul#submenu {
        opacity: 1;
        top: 35px;
        visibility: visible;
    }

    #submenu li {
        padding: 10px 20px;
    }
    #submenu li:hover a {
        color: var(--primary-color);
    }
    #submenu li:hover{
        background-color: #f8f8f8;
    }

    /* Customer */
    .customer-sidebar ul li a{
        display: flex;
        width: 100%;
        padding: 15px 20px;
        font-size: 16px;
        font-weight: 500;
        color: #4b5563;
        gap: 14px;
        align-items: center;
    }

    .customer-sidebar ul li a:hover{
        background: #f3f4f6;
    }

}
