.container {
  padding: 4em 2em 2em 2em;
}
.container .desc-p {
  font-size: 1em;
  padding-bottom: 0.4em;
}
.container .dash-h3 {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 1em;
}
.container .card-container {
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flex;
  gap: 2em;
  width: 100%;
  padding-bottom: 2em;
}
.container .card-container .card-content {
  background-color: black;
  width: 30%;
  padding: 1em;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -o-box-flex-direction: column;
  flex-direction: column;
  gap: 2em;
}
.container .card-container .card-content .svg-container .svg-icon {
  font-size: 1em;
}
.container .card-container .card-content .order-container .order {
  color: white;
  font-size: 1.3em;
  padding-bottom: 1em;
}
.container .card-container .card-content .order-container .order-value {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}
.container .card-container .card-content:hover {
  background-color: #45acdf;
  font-style: var(--black);
  font-style: var(--black);
}
.container .parent {
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flex;
  width: 100%;
}
.container .parent .sub-parent {
  background-color: #bdd1db;
  width: 48.5%;
  padding: 2em 1em 2em 2em;
}
.container .parent .sub-parent .personal {
  color: #000;
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 1em;
}
.container .parent .sub-parent .info-parent .info-content {
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flex;
  gap: 2em;
}
.container .parent .sub-parent .info-parent .info-content .title {
  font-size: 1.2em;
  width: 5vw;
  padding-bottom: 1em;
}
.container .parent .sub-parent .info-parent .info-content .title-desc {
  font-size: 1.2em;
  color: #302f2f;
}

.main-container {
  width: 100%;
  display: flex;
  display: -moz-flexbox;
  display: -o-flexbox;
  gap: 1em;
  padding: 3em 1em 2em 2em;
}
.main-container .profil {
  width: 65%;
}
.main-container .profil .form-content {
  width: 65%;
  display: flex;
  display: -moz-flexbox;
  display: -o-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
}
.main-container .profil .form-content div {
  padding-bottom: 1em;
}
.main-container .profil .form-content div label {
  font-size: 1.2em;
}
.main-container .profil .form-content div input {
  padding: 0.8em;
  width: 20vw;
  border: 1px solid rgb(161, 157, 157);
  border-radius: 0.5em;
}
.main-container .profil .address-div {
  padding-bottom: 1em;
}
.main-container .profil .address-div .address-label {
  font-size: 1.2em;
}
.main-container .profil .address-div .address-input {
  width: 41.2vw;
  padding: 0.8em;
  border: 1px solid rgb(161, 157, 157);
  border-radius: 0.5em;
  margin-bottom: 2em;
}
.main-container .profil .btn-div {
  width: 40%;
  display: flex;
  display: -moz-flexbox;
  display: -o-flexbox;
  gap: 1.5em;
}
.main-container .profil .btn-div .cancel-btn {
  background-color: rgb(203, 220, 220);
  color: red;
  font-size: 1.3em;
  border-radius: 0.5em;
  padding: 0.2em 0.7em;
}
.main-container .profil .btn-div .cancel-btn:hover {
  background-color: rgb(228, 237, 237);
  color: black;
}
.main-container .profil .btn-div .update-cta {
  background-color: black;
  color: white;
  font-size: 1.3em;
  border-radius: 0.5em;
  padding: 0.6em 1em;
}
.main-container .profil .btn-div .update-cta:hover {
  background-color: rgb(10, 236, 236);
  color: var(--black);
}
.main-container .pic-container {
  width: 18%;
}
.main-container .pic-container .pic-content {
  width: 18.4vw;
  height: 58vh;
  border: 0.1px solid rgb(245, 243, 243);
  padding: 2em;
}
.main-container .pic-container .pic-content .pic-heading {
  font-size: 1.2em;
  padding-bottom: 0.8em;
}
.main-container .pic-container .pic-content .pic-info {
  padding-bottom: 3em;
}
.main-container .pic-container .pic-content .pic-info span {
  font-weight: bold;
}
.main-container .pic-container .pic-content .img-parent-div {
  position: absolute;
}
.main-container .pic-container .pic-content .img-parent-div .img-div {
  width: 15vw;
  height: 30vh;
}
.main-container .pic-container .pic-content .img-parent-div .img-div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.main-container .pic-container .pic-content .img-parent-div svg {
  position: relative;
  background-color: black;
  border-radius: 60%;
  bottom: 5em;
  left: 16em;
  padding: 0.3em 0.5em;
}
.main-container .pic-container .pic-content .img-parent-div .hidden {
  display: none;
}

.order-parent {
  margin: 2em;
}
.order-parent .title {
  font-size: 1.6em;
  font-weight: bold;
  padding-bottom: 0.4em;
}
.order-parent .order-container {
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flex;
  align-items: center;
  border: 1px solid rgb(247, 243, 243);
  width: 70%;
}
.order-parent .order-container .content-div {
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flex;
  width: 85%;
}
.order-parent .order-container .content-div .goods-content {
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flex;
  flex-direction: column;
  -moz-flex-direction: column;
  -o-box-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-box-justify-content: space-between;
}
.order-parent .order-container .content-div .content {
  padding: 2em;
  font-weight: bold;
}
.order-parent .order-container .content-div .content .img-div {
  width: 15vw;
  height: 20vh;
}
.order-parent .order-container .content-div .content .img-div .order-img {
  width: 100%;
  height: 100%;
}
.order-parent .order-container .content-div .content .desc {
  font-size: 1.5em;
}
.order-parent .order-container .content-div .content .goods-id {
  font-size: 1.2em;
}
.order-parent .order-container .content-div .content .goods-status {
  background-color: green;
  color: white;
  border-radius: 0.4em;
  text-align: center;
  padding: 0.4em;
  width: 4.5vw;
}
.order-parent .order-container .content-div .content .status-date {
  font-size: 1.2em;
}
.order-parent .order-container .details-li {
  text-decoration: underline;
  font-size: 1.5em;
  color: blue;
  margin-right: auto;
}
.order-parent .order-container .details-li:hover {
  background-color: #45acdf;
  color: white;
  border-radius: 0.4em;
  padding: 0.6em 1.2em;
  text-decoration: none;
}

.order-details-parent {
  margin: 2em;
}
.order-details-parent .title {
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: bold;
  padding-bottom: 0.4em;
}
.order-details-parent .order-container {
  border: 1px solid rgb(240, 237, 237);
  border-radius: 0.5em;
  width: 80%;
  padding: 2em;
}
.order-details-parent .order-container .goods-status {
  background-color: green;
  color: white;
  border-radius: 0.4em;
  text-align: center;
  padding: 0.4em;
  width: 4.5vw;
  margin-bottom: 2em;
}
.order-details-parent .order-container .goods-status-2 {
  background-color: rgb(235, 61, 9);
  color: white;
  border-radius: 0.4em;
  text-align: center;
  padding: 0.4em;
  width: 4.5vw;
  margin-bottom: 2em;
}
.order-details-parent .order-container .goods-content {
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flex;
  flex-direction: column;
  -moz-flex-direction: column;
  -o-box-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-box-justify-content: space-between;
}
.order-details-parent .order-container .content-parent {
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flex;
  padding-top: 2em;
}
.order-details-parent .order-container .content-parent .content-div {
  width: 85%;
  font-weight: bold;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flex;
  gap: 4em;
}
.order-details-parent .order-container .content-parent .content-div .img-div {
  width: 15vw;
  height: 20vh;
}
.order-details-parent .order-container .content-parent .content-div .img-div .order-img {
  width: 100%;
  height: 100%;
}
.order-details-parent .order-container .content-parent .content-div .desc {
  font-size: 1.5em;
}
.order-details-parent .order-container .content-parent .content-div .qty {
  font-size: 1.2em;
}
.order-details-parent .order-container .content-parent .content-div .amnt {
  font-size: 1.4em;
}
.order-details-parent .order-container .content-parent .content-div .amnt span {
  font-size: 0.9em;
  text-decoration: line-through;
  color: gray;
}
.order-details-parent .order-container .content-parent .buy-cta-div .buy-cta {
  background-color: blue;
  border-radius: 0.4em;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  padding: 0.8em 1.4em;
  margin-right: auto;
}
.order-details-parent .order-container .content-parent .buy-cta-div .buy-cta:hover {
  background-color: #45acdf;
}

.info-parent {
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  border: 1px solid rgb(240, 237, 237);
  width: 77.5%;
  margin: 2em;
  padding: 2em;
  line-height: 3em;
  border-radius: 0.5em;
}
.info-parent .info-content {
  width: 36%;
}
.info-parent .info-content .info-head {
  padding-bottom: 1em;
  font-weight: bolder;
  font-size: 2em;
  text-transform: uppercase;
}
.info-parent .info-content .payment-div .p-method {
  font-weight: bold;
  font-size: 1.4em;
}
.info-parent .info-content .payment-div .p-method-desc {
  font-size: 1.2em;
  color: rgb(109, 106, 106);
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 4em 2em 2em 2em;
  }
  .container .desc-p {
    font-size: 1em;
    padding-bottom: 0.4em;
  }
  .container .dash-h3 {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 1em;
  }
  .container .card-container {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    gap: 2em;
    width: 100%;
    padding-bottom: 2em;
  }
  .container .card-container .card-content {
    background-color: black;
    width: 30%;
    padding: 1em;
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -o-box-flex-direction: column;
    flex-direction: column;
    gap: 2em;
  }
  .container .card-container .card-content .svg-container .svg-icon {
    font-size: 1em;
  }
  .container .card-container .card-content .order-container .order {
    color: white;
    font-size: 1.3em;
    padding-bottom: 1em;
  }
  .container .card-container .card-content .order-container .order-value {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
  }
  .container .card-container .card-content:hover {
    background-color: #45acdf;
    font-style: var(--black);
    font-style: var(--black);
  }
  .container .parent {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    width: 100%;
  }
  .container .parent .sub-parent {
    background-color: #bdd1db;
    width: 48.5%;
    padding: 2em 1em 2em 2em;
  }
  .container .parent .sub-parent .personal {
    color: #000;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 1em;
  }
  .container .parent .sub-parent .info-parent .info-content {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    gap: 2em;
  }
  .container .parent .sub-parent .info-parent .info-content .title {
    font-size: 1.2em;
    width: 5vw;
    padding-bottom: 1em;
  }
  .container .parent .sub-parent .info-parent .info-content .title-desc {
    font-size: 1.2em;
    color: #302f2f;
  }
  .main-container {
    width: 100%;
    display: flex;
    display: -moz-flexbox;
    display: -o-flexbox;
    gap: 1em;
    padding: 3em 1em 2em 2em;
  }
  .main-container .profil {
    width: 65%;
  }
  .main-container .profil .form-content {
    width: 65%;
    display: flex;
    display: -moz-flexbox;
    display: -o-flexbox;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-justify-content: space-between;
  }
  .main-container .profil .form-content div {
    padding-bottom: 1em;
  }
  .main-container .profil .form-content div label {
    font-size: 1.2em;
  }
  .main-container .profil .form-content div input {
    padding: 0.8em;
    width: 20vw;
    border: 1px solid rgb(161, 157, 157);
    border-radius: 0.5em;
  }
  .main-container .profil .address-div {
    padding-bottom: 1em;
  }
  .main-container .profil .address-div .address-label {
    font-size: 1.2em;
  }
  .main-container .profil .address-div .address-input {
    width: 41.2vw;
    padding: 0.8em;
    border: 1px solid rgb(161, 157, 157);
    border-radius: 0.5em;
    margin-bottom: 2em;
  }
  .main-container .profil .btn-div {
    width: 40%;
    display: flex;
    display: -moz-flexbox;
    display: -o-flexbox;
    gap: 1.5em;
  }
  .main-container .profil .btn-div .cancel-btn {
    background-color: rgb(203, 220, 220);
    color: red;
    font-size: 1.3em;
    border-radius: 0.5em;
    padding: 0.2em 0.7em;
  }
  .main-container .profil .btn-div .cancel-btn:hover {
    background-color: rgb(228, 237, 237);
    color: black;
  }
  .main-container .profil .btn-div .update-cta {
    background-color: black;
    color: white;
    font-size: 1.3em;
    border-radius: 0.5em;
    padding: 0.6em 1em;
  }
  .main-container .profil .btn-div .update-cta:hover {
    background-color: rgb(10, 236, 236);
    color: var(--black);
  }
  .main-container .pic-container {
    width: 18%;
  }
  .main-container .pic-container .pic-content {
    width: 18.4vw;
    height: 58vh;
    border: 0.1px solid rgb(245, 243, 243);
    padding: 2em;
  }
  .main-container .pic-container .pic-content .pic-heading {
    font-size: 1.2em;
    padding-bottom: 0.8em;
  }
  .main-container .pic-container .pic-content .pic-info {
    padding-bottom: 3em;
  }
  .main-container .pic-container .pic-content .pic-info span {
    font-weight: bold;
  }
  .main-container .pic-container .pic-content .img-parent-div {
    position: absolute;
  }
  .main-container .pic-container .pic-content .img-parent-div .img-div {
    width: 15vw;
    height: 30vh;
  }
  .main-container .pic-container .pic-content .img-parent-div .img-div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .main-container .pic-container .pic-content .img-parent-div svg {
    position: relative;
    background-color: black;
    border-radius: 60%;
    bottom: 5em;
    left: 16em;
    padding: 0.3em 0.5em;
  }
  .main-container .pic-container .pic-content .img-parent-div .hidden {
    display: none;
  }
  .order-parent {
    margin: 2em;
  }
  .order-parent .title {
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: 0.4em;
  }
  .order-parent .order-container {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    align-items: center;
    border: 1px solid rgb(241, 237, 237);
    width: 95%;
  }
  .order-parent .order-container .content-div {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    width: 85%;
  }
  .order-parent .order-container .content-div .goods-content {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -o-box-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-box-justify-content: space-between;
  }
  .order-parent .order-container .content-div .content {
    padding: 2em;
    font-weight: bold;
  }
  .order-parent .order-container .content-div .content .img-div {
    width: 35vw;
    height: 17vh;
  }
  .order-parent .order-container .content-div .content .img-div .order-img {
    width: 100%;
    height: 100%;
  }
  .order-parent .order-container .content-div .content .desc {
    font-size: 1.5em;
  }
  .order-parent .order-container .content-div .content .goods-id {
    font-size: 1.2em;
  }
  .order-parent .order-container .content-div .content .goods-status {
    background-color: green;
    color: white;
    border-radius: 0.4em;
    text-align: center;
    padding: 0.4em;
    width: 6.5vw;
  }
  .order-parent .order-container .content-div .content .status-date {
    font-size: 1.2em;
  }
  .order-parent .order-container .details-li {
    text-decoration: underline;
    font-size: 1.5em;
    color: blue;
    margin-right: auto;
  }
  .order-parent .order-container .details-li:hover {
    background-color: #45acdf;
    color: white;
    border-radius: 0.4em;
    padding: 0.6em 1.2em;
    text-decoration: none;
  }
  .order-details-parent {
    margin: 2em;
  }
  .order-details-parent .title {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: 0.4em;
  }
  .order-details-parent .order-container {
    border: 1px solid rgb(240, 237, 237);
    border-radius: 0.5em;
    width: 90%;
    padding: 2em;
  }
  .order-details-parent .order-container .goods-status {
    background-color: green;
    color: white;
    border-radius: 0.4em;
    text-align: center;
    padding: 0.4em;
    width: 4.5vw;
    margin-bottom: 2em;
  }
  .order-details-parent .order-container .goods-status-2 {
    background-color: rgb(235, 61, 9);
    color: white;
    border-radius: 0.4em;
    text-align: center;
    padding: 0.4em;
    width: 4.5vw;
    margin-bottom: 2em;
  }
  .order-details-parent .order-container .goods-content {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -o-box-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-box-justify-content: space-between;
  }
  .order-details-parent .order-container .content-parent {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    padding-top: 2em;
  }
  .order-details-parent .order-container .content-parent .content-div {
    width: 80%;
    font-weight: bold;
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    gap: 4em;
  }
  .order-details-parent .order-container .content-parent .content-div .img-div {
    width: 30vw;
    height: 15vh;
  }
  .order-details-parent .order-container .content-parent .content-div .img-div .order-img {
    width: 100%;
    height: 100%;
  }
  .order-details-parent .order-container .content-parent .content-div .desc {
    font-size: 1.5em;
  }
  .order-details-parent .order-container .content-parent .content-div .qty {
    font-size: 1.2em;
  }
  .order-details-parent .order-container .content-parent .content-div .amnt {
    font-size: 1.4em;
  }
  .order-details-parent .order-container .content-parent .content-div .amnt span {
    font-size: 0.9em;
    text-decoration: line-through;
    color: gray;
  }
  .order-details-parent .order-container .content-parent .buy-cta-div .buy-cta {
    background-color: blue;
    border-radius: 0.4em;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding: 0.8em 1.4em;
    margin-right: auto;
  }
  .order-details-parent .order-container .content-parent .buy-cta-div .buy-cta:hover {
    background-color: #45acdf;
  }
  .info-parent {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-justify-content: space-between;
    border: 1px solid rgb(240, 237, 237);
    width: 85.7%;
    margin: 2em;
    padding: 2em;
    line-height: 3em;
    border-radius: 0.5em;
  }
  .info-parent .info-content {
    width: 36%;
  }
  .info-parent .info-content .info-head {
    padding-bottom: 1em;
    font-weight: bolder;
    font-size: 2em;
    text-transform: uppercase;
  }
  .info-parent .info-content .payment-div .p-method {
    font-weight: bold;
    font-size: 1.4em;
  }
  .info-parent .info-content .payment-div .p-method-desc {
    font-size: 1.2em;
    color: rgb(109, 106, 106);
  }
}
@media only screen and (max-width: 768px) {
  .order-parent .order-container .content-div {
    width: 83%;
  }
  .order-parent .order-container .content-div .content .goods-status {
    background-color: green;
    color: white;
    border-radius: 0.4em;
    text-align: center;
    padding: 0.4em;
    width: 7vw;
  }
  .order-parent .order-container .details-li {
    text-decoration: underline;
    font-size: 1.5em;
    color: blue;
    margin-right: auto;
  }
  .order-parent .order-container .details-li:hover {
    background-color: #45acdf;
    color: white;
    border-radius: 0.4em;
    padding: 0.6em 1.2em;
    text-decoration: none;
  }
}
@media only screen and (max-width: 450px) {
  .order-parent {
    margin: 2em;
  }
  .order-parent .title {
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: 0.4em;
  }
  .order-parent .order-container {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -o-box-flex-direction: column;
    align-items: center;
    border: 1px solid rgb(241, 237, 237);
    width: 95%;
    height: 28vh;
  }
  .order-parent .order-container .content-div {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    width: 85%;
  }
  .order-parent .order-container .content-div .goods-content {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -o-box-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-box-justify-content: space-between;
  }
  .order-parent .order-container .content-div .content {
    padding: 2em 1em 2em 0;
    font-weight: bold;
  }
  .order-parent .order-container .content-div .content .img-div {
    width: 45vw;
    height: 17vh;
  }
  .order-parent .order-container .content-div .content .img-div .order-img {
    width: 100%;
    height: 100%;
  }
  .order-parent .order-container .content-div .content .desc {
    font-size: 1.5em;
  }
  .order-parent .order-container .content-div .content .goods-id {
    font-size: 1.2em;
  }
  .order-parent .order-container .content-div .content .goods-status {
    background-color: green;
    color: white;
    border-radius: 0.4em;
    text-align: center;
    padding: 0.4em;
    width: 15vw;
  }
  .order-parent .order-container .content-div .content .status-date {
    font-size: 1.2em;
  }
  .order-parent .order-container .details-li {
    text-decoration: underline;
    font-size: 1.5em;
    color: blue;
    margin-right: auto;
  }
  .order-parent .order-container .details-li:hover {
    background-color: #45acdf;
    color: white;
    border-radius: 0.4em;
    padding: 0.6em 1.2em;
    text-decoration: none;
  }
  .order-details-parent {
    margin: 2em;
  }
  .order-details-parent .title {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: 0.4em;
  }
  .order-details-parent .order-container {
    border: 1px solid rgb(240, 237, 237);
    border-radius: 0.5em;
    width: 90%;
    height: 33vh;
    padding: 2em;
  }
  .order-details-parent .order-container .goods-status {
    background-color: green;
    color: white;
    border-radius: 0.4em;
    text-align: center;
    padding: 0.4em;
    width: 4.5vw;
    margin-bottom: 2em;
  }
  .order-details-parent .order-container .goods-status-2 {
    background-color: rgb(235, 61, 9);
    color: white;
    border-radius: 0.4em;
    text-align: center;
    padding: 0.4em;
    width: 4.5vw;
    margin-bottom: 2em;
  }
  .order-details-parent .order-container .goods-content {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -o-box-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-box-justify-content: space-between;
  }
  .order-details-parent .order-container .content-parent {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
  }
  .order-details-parent .order-container .content-parent .content-div {
    width: 80%;
    font-weight: bold;
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    gap: 2em;
    padding-bottom: 2.5em;
  }
  .order-details-parent .order-container .content-parent .content-div .img-div {
    width: 40vw;
    height: 15vh;
  }
  .order-details-parent .order-container .content-parent .content-div .img-div .order-img {
    width: 100%;
    height: 100%;
  }
  .order-details-parent .order-container .content-parent .content-div .desc {
    font-size: 1.5em;
  }
  .order-details-parent .order-container .content-parent .content-div .qty {
    font-size: 1.2em;
  }
  .order-details-parent .order-container .content-parent .content-div .amnt {
    font-size: 1.4em;
  }
  .order-details-parent .order-container .content-parent .content-div .amnt span {
    font-size: 0.9em;
    text-decoration: line-through;
    color: gray;
  }
  .order-details-parent .order-container .content-parent .buy-cta-div .buy-cta {
    background-color: blue;
    border-radius: 0.4em;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding: 0.8em 6.6em;
    margin-right: auto;
  }
  .order-details-parent .order-container .content-parent .buy-cta-div .buy-cta:hover {
    background-color: #45acdf;
  }
  .info-parent {
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-justify-content: space-between;
    border: 1px solid rgb(240, 237, 237);
    width: 81%;
    margin: 2em;
    padding: 2em;
    line-height: 3em;
    border-radius: 0.5em;
  }
  .info-parent .info-content {
    width: 86%;
    padding-bottom: 3em;
  }
  .info-parent .info-content .info-head {
    padding-bottom: 1em;
    font-weight: bolder;
    font-size: 2em;
    text-transform: uppercase;
  }
  .info-parent .info-content .payment-div .p-method {
    font-weight: bold;
    font-size: 1.4em;
  }
  .info-parent .info-content .payment-div .p-method-desc {
    font-size: 1.2em;
    color: rgb(109, 106, 106);
  }
}/*# sourceMappingURL=user.css.map */