//User dashboard
.container {
    padding: 4em 2em 2em 2em;
    .desc-p {
        font-size: 1em;
        padding-bottom: 0.4em;
    }
    .dash-h3 {
        font-size: 1.3em;
        font-weight: bold;
        padding-bottom: 1em;
    }
    .card-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-flexbox;
        display: -o-flexbox;
        display: flex;
        gap: 2em;
        width: 100%;
        padding-bottom: 2em;
        .card-content {
            background-color: black;
            width: 30%;
            padding: 1em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-flexbox;
            display: -o-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            -moz-flex-direction: column;
            -o-box-flex-direction: column;
            flex-direction: column;
            gap: 2em;
            .svg-container {
                .svg-icon {
                    font-size: 1em;
                }
            }
            .order-container {
                .order {
                    color: white;
                    font-size: 1.3em;
                    padding-bottom: 1em;
                }
                .order-value {
                    color: white;
                    font-size: 2.5em;
                    font-weight: bold;
                }
            }
            &:hover {
                background-color: #45acdf;
                font-style: var(--black);
                font-style: var(--black);
            }
        }
    }
    .parent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-flexbox;
        display: -o-flexbox;
        display: flex;
        width: 100%;
        .sub-parent {
            background-color: #bdd1db;
            width: 48.5%;
            padding: 2em 1em 2em 1em;
            .personal {
                color: #000;
                font-size: 1.3em;
                font-weight: bold;
                padding-bottom: 1em;
            }
            .info-parent {
                display: block;
                margin: 0;
                width: 31vw;
                border: 1px solid red;
                .info-content {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -moz-flexbox;
                    display: -o-flexbox;
                    display: flex;
                    gap: 2em;
                    .title {
                        font-size: 1.2em;
                        width: 7vw;
                        border: 1px solid black;
                        padding-bottom: 1em;
                    }
                    .title-desc {
                        font-size: 1.2em;
                        color: #302f2f;
                    }
                }
            }
        }
    }
}
//Profile
.main-container {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: -o-flexbox;
    gap: 1em;
    padding: 3em 1em 2em 2em;
    width: 85%;
    .profil {
        width: 55%;
        //border: 1px solid black;
        .form-content {
            width: 97%;
            //border: 1px solid rgb(236, 9, 9);
            display: flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-flexbox;
            display: -o-flexbox;
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -o-flex-wrap: wrap;
            gap: 2em;
            div {
                padding-bottom: 1em;
                label {
                    font-size: 1.2em;
                }
                input {
                    padding: 0.8em;
                    width: 20vw;
                    border: 1px solid rgb(161, 157, 157);
                    border-radius: 0.5em;
                }
            }
        }
        .address-div {
            padding-bottom: 1em;
            .address-label {
                font-size: 1.2em;
            }
            .address-input {
                width: 41.2vw;
                padding: 0.8em;
                border: 1px solid rgb(161, 157, 157);
                border-radius: 0.5em;
                margin-bottom: 2em;
            }
        }
        .btn-div {
            width: 40%;
            display: flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-flexbox;
            display: -o-flexbox;
            gap: 1.5em;
            .cancel-btn {
                background-color: rgb(203, 220, 220);
                color: red;
                font-size: 1.3em;
                border-radius: 0.5em;
                padding: 0.2em 0.7em;
                &:hover {
                    background-color: rgb(228, 237, 237);
                    color: black;
                }
            }
            .update-cta {
                background-color: black;
                // background-color:  #24b5fc;
                color: white;
                font-size: 1.3em;
                border-radius: 0.5em;
                padding: 0.6em 1em;
                &:hover {
                    background-color: rgb(10, 236, 236);
                    color: var(--black);
                }
            }
        }
    }
    .pic-container {
        width: 18%;
        .pic-content {
            width: 18.4vw;
            height: 58vh;
            border: 0.1px solid rgb(245, 243, 243);
            padding: 2em;
            .pic-heading {
                font-size: 1.2em;
                padding-bottom: 0.8em;
            }
            .pic-info {
                padding-bottom: 3em;
                span {
                    font-weight: bold;
                }
            }
            .img-parent-div {
                position: absolute;
                .img-div {
                    width: 15vw;
                    height: 30vh;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                svg {
                    position: relative;
                    background-color: black;
                    border-radius: 60%;
                    bottom: 5em;
                    left: 16em;
                    padding: 0.3em 0.5em;
                }
                .hidden {
                    display: none;
                }
            }
        }
    }
}
//Order-history
.order-parent {
    margin: 2em;
    .title {
        font-size: 1.6em;
        font-weight: bold;
        padding-bottom: 0.4em;
    }
    .order-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-flexbox;
        display: -o-flexbox;
        display: flex;
        align-items: center;
        border: 1px solid rgb(247, 243, 243);
        width: 70%;

        .content-div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-flexbox;
            display: -o-flexbox;
            display: flex;
            width: 85%;
            .goods-content {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                display: flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                -moz-flex-direction: column;
                -o-box-flex-direction: column;
                justify-content: space-between;
                -webkit-justify-content: space-between;
                -ms-justify-content: space-between;
                -moz-justify-content: space-between;
                -o-box-justify-content: space-between;
            }
            .content {
                padding: 2em;
                font-weight: bold;
                .img-div {
                    width: 15vw;
                    height: 20vh;
                    .order-img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .desc {
                    font-size: 1.5em;
                }
                .goods-id {
                    font-size: 1.2em;
                }
                .goods-status {
                    background-color: green;
                    // background-color: #73b0cf;
                    color: white;
                    border-radius: 0.4em;
                    text-align: center;
                    padding: 0.4em;
                    width: 4.5vw;
                }
                .status-date {
                    font-size: 1.2em;
                }
            }
        }
        .details-li {
            text-decoration: underline;
            font-size: 1.5em;
            color: blue;
            margin-right: auto;
            &:hover {
                background-color: #45acdf;
                color: white;
                border-radius: 0.4em;
                padding: 0.6em 1.2em;
                text-decoration: none;
            }
        }
    }
}
//Order-details
.order-details-parent {
    margin: 2em;
    .title {
        text-transform: uppercase;
        font-size: 1.6em;
        font-weight: bold;
        padding-bottom: 0.4em;
    }
    .order-container {
        border: 1px solid rgb(240, 237, 237);
        border-radius: 0.5em;
        width: 80%;
        padding: 2em;
        .goods-status {
            background-color: green;
            color: white;
            border-radius: 0.4em;
            text-align: center;
            padding: 0.4em;
            width: 4.5vw;
            margin-bottom: 2em;
        }
        .goods-status-2 {
            background-color: rgb(235, 61, 9);
            color: white;
            border-radius: 0.4em;
            text-align: center;
            padding: 0.4em;
            width: 4.5vw;
            margin-bottom: 2em;
        }
        .goods-content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-flexbox;
            display: -o-flexbox;
            display: flex;
            flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            -moz-flex-direction: column;
            -o-box-flex-direction: column;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            -ms-justify-content: space-between;
            -moz-justify-content: space-between;
            -o-box-justify-content: space-between;
        }
        .content-parent {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-flexbox;
            display: -o-flexbox;
            display: flex;
            padding-top: 2em;
            .content-div {
                width: 85%;
                //border: 1px solid red;
                font-weight: bold;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                display: flex;
                gap: 4em;
                .img-div {
                    width: 15vw;
                    height: 20vh;
                    .order-img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .desc {
                    font-size: 1.5em;
                }
                .qty {
                    font-size: 1.2em;
                }
                .amnt {
                    font-size: 1.4em;
                    span {
                        font-size: 0.9em;
                        text-decoration: line-through;
                        color: gray;
                    }
                }
            }
            .buy-cta-div {
                .buy-cta {
                    background-color: blue;
                    border-radius: 0.4em;
                    font-size: 1.5em;
                    font-weight: bold;
                    color: white;
                    padding: 0.8em 1.4em;
                    margin-right: auto;
                    &:hover {
                        background-color: #45acdf;
                    }
                }
            }
        }
    }
}
//Order-details payment information
.info-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: -o-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-justify-content: space-between;
    border: 1px solid rgb(240, 237, 237);
    width: 77.5%;
    margin: 2em;
    padding: 2em;
    line-height: 3em;
    border-radius: 0.5em;
    .info-content {
        width: 36%;
        .info-head {
            padding-bottom: 1em;
            font-weight: bolder;
            font-size: 2em;
            text-transform: uppercase;
        }
        .payment-div {
            .p-method {
                font-weight: bold;
                font-size: 1.4em;
            }
            .p-method-desc {
                font-size: 1.2em;
                color: rgb(109, 106, 106);
            }
        }
    }
}
@media only screen and (max-width: 992px) {
    //User dashboard
    .container {
        padding: 4em 2em 2em 2em;
        .desc-p {
            font-size: 1em;
            padding-bottom: 0.4em;
        }
        .dash-h3 {
            font-size: 1.3em;
            font-weight: bold;
            padding-bottom: 1em;
        }
        .card-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-flexbox;
            display: -o-flexbox;
            display: flex;
            gap: 2em;
            width: 100%;
            padding-bottom: 2em;
            .card-content {
                background-color: black;
                width: 30%;
                padding: 1em;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                -moz-flex-direction: column;
                -o-box-flex-direction: column;
                flex-direction: column;
                gap: 2em;
                .svg-container {
                    .svg-icon {
                        font-size: 1em;
                    }
                }
                .order-container {
                    .order {
                        color: white;
                        font-size: 1.3em;
                        padding-bottom: 1em;
                    }
                    .order-value {
                        color: white;
                        font-size: 2.5em;
                        font-weight: bold;
                    }
                }
                &:hover {
                    background-color: #45acdf;
                    font-style: var(--black);
                    font-style: var(--black);
                }
            }
        }
        .parent {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-flexbox;
            display: -o-flexbox;
            display: flex;
            width: 100%;
            .sub-parent {
                background-color: #bdd1db;
                width: 48.5%;
                padding: 2em 1em 2em 2em;
                .personal {
                    color: #000;
                    font-size: 1.3em;
                    font-weight: bold;
                    padding-bottom: 1em;
                }
                .info-parent {
                    .info-content {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -moz-flexbox;
                        display: -o-flexbox;
                        display: flex;
                        gap: 2em;
                        .title {
                            font-size: 1.2em;
                            width: 5vw;
                            padding-bottom: 1em;
                        }
                        .title-desc {
                            font-size: 1.2em;
                            color: #302f2f;
                        }
                    }
                }
            }
        }
    }
    //Profile
    .main-container {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-flexbox;
        display: -o-flexbox;
        gap: 1em;
        padding: 3em 1em 2em 2em;
        width: 95%;
        .profil {
            width: 65%;
            //border: 1px solid black;
            .form-content {
                width: 97%;
                //border: 1px solid rgb(236, 9, 9);
                display: flex;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                -moz-flex-wrap: wrap;
                -o-flex-wrap: wrap;
                gap: 2em;
                div {
                    padding-bottom: 1em;
                    label {
                        font-size: 1.2em;
                    }
                    input {
                        padding: 0.8em;
                        width: 27vw;
                        border: 1px solid rgb(161, 157, 157);
                        border-radius: 0.5em;
                    }
                }
            }
            .address-div {
                padding-bottom: 1em;
                .address-label {
                    font-size: 1.2em;
                }
                .address-input {
                    width: 56vw;
                    padding: 0.8em;
                    border: 1px solid rgb(161, 157, 157);
                    border-radius: 0.5em;
                    margin-bottom: 2em;
                }
            }
            .btn-div {
                width: 40%;
                display: flex;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                gap: 1.5em;
                .cancel-btn {
                    background-color: rgb(203, 220, 220);
                    color: red;
                    font-size: 1.3em;
                    border-radius: 0.5em;
                    padding: 0.2em 0.7em;
                    &:hover {
                        background-color: rgb(228, 237, 237);
                        color: black;
                    }
                }
                .update-cta {
                    background-color: black;
                    // background-color:  #24b5fc;
                    color: white;
                    font-size: 1.3em;
                    border-radius: 0.5em;
                    padding: 0.6em 1em;
                    &:hover {
                        background-color: rgb(10, 236, 236);
                        color: var(--black);
                    }
                }
            }
        }
        .pic-container {
            width: 36%;
            //border: 1px solid rgb(34, 255, 0);
            .pic-content {
                width: 32vw;
                height: 38vh;
                border: 0.1px solid rgb(245, 243, 243);
                padding: 2em;
                .pic-heading {
                    font-size: 1.2em;
                    padding-bottom: 0.8em;
                }
                .pic-info {
                    padding-bottom: 3em;
                    span {
                        font-weight: bold;
                    }
                }
                .img-parent-div {
                    position: absolute;
                    .img-div {
                        width: 25vw;
                        height: 20vh;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                    svg {
                        position: relative;
                        background-color: black;
                        border-radius: 60%;
                        bottom: 5em;
                        left: 17em;
                        padding: 0.3em 0.5em;
                    }
                    .hidden {
                        display: none;
                    }
                }
            }
        }
    }
    //Order-history
    .order-parent {
        margin: 2em;
        .title {
            font-size: 1.6em;
            font-weight: bold;
            padding-bottom: 0.4em;
        }
        .order-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-flexbox;
            display: -o-flexbox;
            display: flex;
            align-items: center;
            border: 1px solid rgb(241, 237, 237);
            width: 95%;
            .content-div {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                display: flex;
                width: 85%;
                .goods-content {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -moz-flexbox;
                    display: -o-flexbox;
                    display: flex;
                    flex-direction: column;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    -moz-flex-direction: column;
                    -o-box-flex-direction: column;
                    justify-content: space-between;
                    -webkit-justify-content: space-between;
                    -ms-justify-content: space-between;
                    -moz-justify-content: space-between;
                    -o-box-justify-content: space-between;
                }
                .content {
                    padding: 2em;
                    font-weight: bold;
                    .img-div {
                        width: 35vw;
                        height: 17vh;
                        .order-img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .desc {
                        font-size: 1.5em;
                    }
                    .goods-id {
                        font-size: 1.2em;
                    }
                    .goods-status {
                        background-color: green;
                        // background-color: #73b0cf;
                        color: white;
                        border-radius: 0.4em;
                        text-align: center;
                        padding: 0.4em;
                        width: 6.5vw;
                    }
                    .status-date {
                        font-size: 1.2em;
                    }
                }
            }
            .details-li {
                text-decoration: underline;
                font-size: 1.5em;
                color: blue;
                margin-right: auto;
                &:hover {
                    background-color: #45acdf;
                    color: white;
                    border-radius: 0.4em;
                    padding: 0.6em 1.2em;
                    text-decoration: none;
                }
            }
        }
    }
    //Order-details
    .order-details-parent {
        margin: 2em;
        .title {
            text-transform: uppercase;
            font-size: 1.6em;
            font-weight: bold;
            padding-bottom: 0.4em;
        }
        .order-container {
            border: 1px solid rgb(240, 237, 237);
            border-radius: 0.5em;
            width: 90%;
            padding: 2em;
            .goods-status {
                background-color: green;
                color: white;
                border-radius: 0.4em;
                text-align: center;
                padding: 0.4em;
                width: 4.5vw;
                margin-bottom: 2em;
            }
            .goods-status-2 {
                background-color: rgb(235, 61, 9);
                color: white;
                border-radius: 0.4em;
                text-align: center;
                padding: 0.4em;
                width: 4.5vw;
                margin-bottom: 2em;
            }
            .goods-content {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                display: flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                -moz-flex-direction: column;
                -o-box-flex-direction: column;
                justify-content: space-between;
                -webkit-justify-content: space-between;
                -ms-justify-content: space-between;
                -moz-justify-content: space-between;
                -o-box-justify-content: space-between;
            }
            .content-parent {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                display: flex;
                padding-top: 2em;
                .content-div {
                    width: 80%;
                    //border: 1px solid red;
                    font-weight: bold;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -moz-flexbox;
                    display: -o-flexbox;
                    display: flex;
                    gap: 4em;
                    .img-div {
                        width: 30vw;
                        height: 15vh;
                        .order-img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .desc {
                        font-size: 1.5em;
                    }
                    .qty {
                        font-size: 1.2em;
                    }
                    .amnt {
                        font-size: 1.4em;
                        span {
                            font-size: 0.9em;
                            text-decoration: line-through;
                            color: gray;
                        }
                    }
                }
                .buy-cta-div {
                    .buy-cta {
                        background-color: blue;
                        border-radius: 0.4em;
                        font-size: 1.5em;
                        font-weight: bold;
                        color: white;
                        padding: 0.8em 1.4em;
                        margin-right: auto;
                        &:hover {
                            background-color: #45acdf;
                        }
                    }
                }
            }
        }
    }
    //Order-details payment information
    .info-parent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-flexbox;
        display: -o-flexbox;
        display: flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        -moz-justify-content: space-between;
        -o-justify-content: space-between;
        border: 1px solid rgb(240, 237, 237);
        width: 85.7%;
        margin: 2em;
        padding: 2em;
        line-height: 3em;
        border-radius: 0.5em;
        .info-content {
            width: 36%;
            .info-head {
                padding-bottom: 1em;
                font-weight: bolder;
                font-size: 2em;
                text-transform: uppercase;
            }
            .payment-div {
                .p-method {
                    font-weight: bold;
                    font-size: 1.4em;
                }
                .p-method-desc {
                    font-size: 1.2em;
                    color: rgb(109, 106, 106);
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    //Profile
    .main-container {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-flexbox;
        display: -o-flexbox;
        gap: 1em;
        padding: 3em 1em 2em 2em;
        width: 95%;
        //border: 1px solid black;
        .profil {
            width: 65%;
            //border: 1px solid black;
            .form-content {
                width: 97%;
                //border: 1px solid rgb(236, 9, 9);
                display: flex;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                -moz-flex-wrap: wrap;
                -o-flex-wrap: wrap;
                gap: 2em;
                div {
                    padding-bottom: 1em;
                    label {
                        font-size: 1.2em;
                    }
                    input {
                        padding: 0.8em;
                        width: 57vw;
                        border: 1px solid rgb(161, 157, 157);
                        border-radius: 0.5em;
                    }
                }
            }
            .address-div {
                padding-bottom: 1em;
                .address-label {
                    font-size: 1.2em;
                }
                .address-input {
                    width: 56vw;
                    padding: 0.8em;
                    border: 1px solid rgb(161, 157, 157);
                    border-radius: 0.5em;
                    margin-bottom: 2em;
                }
            }
            .btn-div {
                width: 40%;
                display: flex;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                gap: 1.5em;
                .cancel-btn {
                    background-color: rgb(203, 220, 220);
                    color: red;
                    font-size: 1.3em;
                    border-radius: 0.5em;
                    padding: 0.2em 0.7em;
                    &:hover {
                        background-color: rgb(228, 237, 237);
                        color: black;
                    }
                }
                .update-cta {
                    background-color: black;
                    // background-color:  #24b5fc;
                    color: white;
                    font-size: 1.3em;
                    border-radius: 0.5em;
                    padding: 0.6em 1em;
                    &:hover {
                        background-color: rgb(10, 236, 236);
                        color: var(--black);
                    }
                }
            }
        }
        .pic-container {
            width: 36%;
            //border: 1px solid rgb(34, 255, 0);
            .pic-content {
                width: 32vw;
                height: 38vh;
                border: 0.1px solid rgb(245, 243, 243);
                padding: 2em;
                .pic-heading {
                    font-size: 1.2em;
                    padding-bottom: 0.8em;
                }
                .pic-info {
                    padding-bottom: 3em;
                    span {
                        font-weight: bold;
                    }
                }
                .img-parent-div {
                    position: absolute;
                    .img-div {
                        width: 25vw;
                        height: 20vh;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                    svg {
                        position: relative;
                        background-color: black;
                        border-radius: 60%;
                        bottom: 5em;
                        left: 16em;
                        padding: 0.3em 0.5em;
                    }
                    .hidden {
                        display: none;
                    }
                }
            }
        }
    }
    //Order History
    .order-parent {
        .order-container {
            .content-div {
                width: 83%;
                .content {
                    .goods-status {
                        background-color: green;
                        // background-color: #73b0cf;
                        color: white;
                        border-radius: 0.4em;
                        text-align: center;
                        padding: 0.4em;
                        width: 7vw;
                    }
                }
            }
            .details-li {
                text-decoration: underline;
                font-size: 1.5em;
                color: blue;
                margin-right: auto;
                &:hover {
                    background-color: #45acdf;
                    color: white;
                    border-radius: 0.4em;
                    padding: 0.6em 1.2em;
                    text-decoration: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 450px) {
    //Profile
    .main-container {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-flexbox;
        display: -o-flexbox;
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -o-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        gap: 2em;
        padding: 3em 1em 2em 2em;
        width: 95%;
        //border: 1px solid black;
        .profil {
            width: 99%;
            //border: 1px solid black;
            .form-content {
                width: 98%;
                //border: 1px solid rgb(236, 9, 9);
                display: flex;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                -moz-flex-wrap: wrap;
                -o-flex-wrap: wrap;
                gap: 2em;
                div {
                    padding-bottom: 1em;
                    label {
                        font-size: 1.2em;
                    }
                    input {
                        padding: 0.8em;
                        width: 85vw;
                        border: 1px solid rgb(161, 157, 157);
                        border-radius: 0.5em;
                    }
                }
            }
            .address-div {
                padding-bottom: 1em;
                .address-label {
                    font-size: 1.2em;
                }
                .address-input {
                    width: 85vw;
                    padding: 0.8em;
                    border: 1px solid rgb(161, 157, 157);
                    border-radius: 0.5em;
                    margin-bottom: 2em;
                }
            }
            .btn-div {
                width: 40%;
                display: flex;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                gap: 1.5em;
                .cancel-btn {
                    background-color: rgb(203, 220, 220);
                    color: red;
                    font-size: 1.3em;
                    border-radius: 0.5em;
                    padding: 0.2em 0.7em;
                    &:hover {
                        background-color: rgb(228, 237, 237);
                        color: black;
                    }
                }
                .update-cta {
                    background-color: black;
                    // background-color:  #24b5fc;
                    color: white;
                    font-size: 1.3em;
                    border-radius: 0.5em;
                    padding: 0.6em 1em;
                    &:hover {
                        background-color: rgb(10, 236, 236);
                        color: var(--black);
                    }
                }
            }
        }
        .pic-container {
            width: 95%;
            //border: 1px solid rgb(34, 255, 0);
            .pic-content {
                width: 62vw;
                height: 45vh;
                border: 0.1px solid rgb(245, 243, 243);
                padding: 2em;
                .pic-heading {
                    font-size: 1.2em;
                    padding-bottom: 0.8em;
                }
                .pic-info {
                    padding-bottom: 3em;
                    span {
                        font-weight: bold;
                    }
                }
                .img-parent-div {
                    position: absolute;
                    .img-div {
                        width: 65vw;
                        height: 30vh;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                    svg {
                        position: relative;
                        background-color: black;
                        border-radius: 60%;
                        bottom: 5em;
                        left: 20em;
                        padding: 0.3em 0.5em;
                    }
                    .hidden {
                        display: none;
                    }
                }
            }
        }
    }
    //Order-history
    .order-parent {
        margin: 2em;
        .title {
            font-size: 1.6em;
            font-weight: bold;
            padding-bottom: 0.4em;
        }
        .order-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-flexbox;
            display: -o-flexbox;
            display: flex;
            flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            -moz-flex-direction: column;
            -o-box-flex-direction: column;
            align-items: center;
            border: 1px solid rgb(241, 237, 237);
            width: 95%;
            height: 28vh;
            .content-div {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                display: flex;
                width: 85%;
                .goods-content {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -moz-flexbox;
                    display: -o-flexbox;
                    display: flex;
                    flex-direction: column;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    -moz-flex-direction: column;
                    -o-box-flex-direction: column;
                    justify-content: space-between;
                    -webkit-justify-content: space-between;
                    -ms-justify-content: space-between;
                    -moz-justify-content: space-between;
                    -o-box-justify-content: space-between;
                }
                .content {
                    padding: 2em 1em 2em 0;
                    font-weight: bold;
                    .img-div {
                        width: 45vw;
                        height: 17vh;
                        .order-img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .desc {
                        font-size: 1.5em;
                    }
                    .goods-id {
                        font-size: 1.2em;
                    }
                    .goods-status {
                        background-color: green;
                        // background-color: #73b0cf;
                        color: white;
                        border-radius: 0.4em;
                        text-align: center;
                        padding: 0.4em;
                        width: 15vw;
                    }
                    .status-date {
                        font-size: 1.2em;
                    }
                }
            }
            .details-li {
                text-decoration: underline;
                font-size: 1.5em;
                color: blue;
                margin-right: auto;
                &:hover {
                    background-color: #45acdf;
                    color: white;
                    border-radius: 0.4em;
                    padding: 0.6em 1.2em;
                    text-decoration: none;
                }
            }
        }
    }
    //Order-details
    .order-details-parent {
        margin: 2em;
        .title {
            text-transform: uppercase;
            font-size: 1.6em;
            font-weight: bold;
            padding-bottom: 0.4em;
        }
        .order-container {
            border: 1px solid rgb(240, 237, 237);
            border-radius: 0.5em;
            width: 90%;
            height: 33vh;
            padding: 2em;
            .goods-status {
                background-color: green;
                color: white;
                border-radius: 0.4em;
                text-align: center;
                padding: 0.4em;
                width: 4.5vw;
                margin-bottom: 2em;
            }
            .goods-status-2 {
                background-color: rgb(235, 61, 9);
                color: white;
                border-radius: 0.4em;
                text-align: center;
                padding: 0.4em;
                width: 4.5vw;
                margin-bottom: 2em;
            }
            .goods-content {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                display: flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                -moz-flex-direction: column;
                -o-box-flex-direction: column;
                justify-content: space-between;
                -webkit-justify-content: space-between;
                -ms-justify-content: space-between;
                -moz-justify-content: space-between;
                -o-box-justify-content: space-between;
            }
            .content-parent {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -moz-flexbox;
                display: -o-flexbox;
                display: flex;
                flex-direction: column;
                padding-top: 2em;
                .content-div {
                    width: 80%;
                    //border: 1px solid red;
                    font-weight: bold;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -moz-flexbox;
                    display: -o-flexbox;
                    display: flex;
                    gap: 2em;
                    padding-bottom: 2.5em;
                    .img-div {
                        width: 40vw;
                        height: 15vh;
                        .order-img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .desc {
                        font-size: 1.5em;
                    }
                    .qty {
                        font-size: 1.2em;
                    }
                    .amnt {
                        font-size: 1.4em;
                        span {
                            font-size: 0.9em;
                            text-decoration: line-through;
                            color: gray;
                        }
                    }
                }
                .buy-cta-div {
                    .buy-cta {
                        background-color: blue;
                        border-radius: 0.4em;
                        font-size: 1.5em;
                        font-weight: bold;
                        color: white;
                        padding: 0.8em 6.6em;
                        margin-right: auto;
                        &:hover {
                            background-color: #45acdf;
                        }
                    }
                }
            }
        }
    }
    //Order-details payment information
    .info-parent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-flexbox;
        display: -o-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -o-flex-direction: column;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        -moz-justify-content: space-between;
        -o-justify-content: space-between;
        border: 1px solid rgb(240, 237, 237);
        width: 81%;
        margin: 2em;
        padding: 2em;
        line-height: 3em;
        border-radius: 0.5em;
        .info-content {
            width: 86%;
            padding-bottom: 3em;
            .info-head {
                padding-bottom: 1em;
                font-weight: bolder;
                font-size: 2em;
                text-transform: uppercase;
            }
            .payment-div {
                .p-method {
                    font-weight: bold;
                    font-size: 1.4em;
                }
                .p-method-desc {
                    font-size: 1.2em;
                    color: rgb(109, 106, 106);
                }
            }
        }
    }
}
